body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    color: #ffffff;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#main-img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #EFB0C9;
    margin-bottom: 10px;
}

h1, h2, h4, p {
    text-shadow: 0px 0px 1px black;
}

#bday-age{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0px 10px 0px;
}

#bday-date{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
}
.gift-section {
    margin: 50px 0px 0px 0px;
}

.gift-title {
    text-shadow: 0px 0px 1px black;
    margin-bottom: 0;
}

.gift-hint {
    text-shadow: 0px 0px 1px black;
    margin-top: 5px;
}



.gift-img {
    margin: 10px auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url(images/gift-cover.jpg);
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
    background-position: center;
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
    background-position: center;
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
    background-position: center;
}

#gift-img-badass:hover {
    background-image: url("images/badass.gif");
    background-position: center;
}

#gift-img-cheers {
    height: 200px;
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
    background-position: center;
}

#footer {
    width: 400px;
    font-style: italic;
    margin: 40px auto 20px;
}

a {
    color: whitesmoke;
}